











/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */


.content {
  display: flex;
  flex-direction: column;
}

.two-columns {
  border: red 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto 0;
}





.two-columns__main-text {
  border: red 1px solid;
  flex-direction: column;
  min-width: 784px;
  width:80%

}

.two-columns__paragraph {
  border: red 1px solid;
  font-family: 'Inter-Regular', Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.two-columns__paragraph_indent {
  margin: 30px 0;
}

.two-columns__span_accent {
  font-family: 'Inter-SemiBold', Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
}
.techniques {

}

.digits {
  border: red 1px solid;

}

.section-title {
  border: red 1px solid;
  text-align: center;
  align-self: center;
  margin: 100px auto 0;
  width: 60%;

}

.section-title__header {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-family: 'Inter-SemiBold', Arial, sans-serif;
  font-weight: 700;
}

.section-subtitle{
  border: red 1px solid;
  text-align: center;
  align-self: center;
  margin: 20px auto 0;
  width: 60%;
}

.section-subtitle__header
{
  line-height: 34px;
  font-size: 24px;
  font-family: 'Inter-Regular', Arial, sans-serif;
  font-weight: normal;
  margin: 0;
}

.table {
  display: flex;
  border: red 1px solid;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 100px;
  min-height: 50px;
  width: 1100px;
  flex-wrap: wrap;
}



.table__cell {
  border: red 1px solid;
  display: flex;
  min-height: 10px;
  justify-content: flex-start;
  flex-direction: column;
  margin: 20px 0 0;
  width: 250px;
}

.table__heading {
  border: red 1px solid;
  line-height: 1.15;
  font-size: 24px;
  font-family: 'Inter-SemiBold', Arial, sans-serif;
  font-weight: 700;
  margin: 0;
}
.table__text {
  border: red 1px solid;
  line-height: 1.2;
  font-size: 18px;
  font-family: 'Inter-Regular', Arial, sans-serif;
  font-weight: normal;
  margin: 20px 0 0;
}

.kaufman {
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  color: white;
  margin-top: 90px;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.resources {

}

.resources__logo-zone {
  border: red 1px solid;
  display: flex;
  width: 1100px;
  min-height: 10px;
  margin: 80px auto 100px;
  align-items: center;
  justify-content: center;
}

.resources__logo {
  border: red 1px solid;
  margin: 0;
  width: 270px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center;
}

.resources__logo_img_arz {
  background-image: url(/images/logo/resources-arzamas.svg);
}

.resources__logo_img_n1 {
  background-image: url(/images/logo/resources-n1.svg);
}

.resources__logo_img_polka {
  background-image: url(/images/logo/resources-polka.svg);
}

.resources__logo_img_strelka {
  background-image: url(/images/logo/resources-strelka.svg);
}

.footer {
  border: red 1px solid;
  background-color: #1f1f1f;
  min-height: 50px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}
