.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  font-family: 'Inter', Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}

.logo {
  height: 32px;
  width: 228px;
  background-repeat: no-repeat;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  align-self: center;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-family: 'Inter-SemiBold', Arial, sans-serif;
  font-weight: 700;
  font-size: 102px;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.content {
  display: flex;
  flex-direction: column;
}

.two_columns {
  border: red 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 80%;
  margin: 100px auto 0;
}

.brief {
  border: red 1px solid;
  width: 175px;
}

.brief-header {
  margin: 0;
  color: #2f80ed;
  line-height: 1.2;
  font-family: 'Inter-Regular', Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.main-text {
  border: red 1px solid;
  flex-direction: column;
  min-width: 784px;
  width:80%
}

.paragraph {
  border: red 1px solid;
  font-family: 'Inter-Regular', Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.indent_paragraph {
  margin: 30px 0;
}

.span-accent {
  font-family: 'Inter-SemiBold', Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
}
.techniques {

}

.digits {
  border: red 1px solid;

}

.section-title {
  border: red 1px solid;
  text-align: center;
  align-self: center;
  margin: 100px auto 0;
  width: 60%;
}

.title_digits {
  line-height: 1.15;
  font-size: 60px;
  font-family: 'Inter-SemiBold', Arial, sans-serif;
  font-weight: 700;
  margin: 0;
}

.section-subtitle{
  border: red 1px solid;
  text-align: center;
  align-self: center;
  margin: 20px auto 0;
  width: 60%;
}

.subtitle_digits {
  line-height: 34px;
  font-size: 24px;
  font-family: 'Inter-Regular', Arial, sans-serif;
  font-weight: normal;
  margin: 0;
}

.table {
  display: flex;
  border: red 1px solid;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto 100px;
  min-height: 50px;
  width: 1100px;
}

.row-cell {
  border: red 1px solid;
  display: flex;
  flex-direction: row;
  margin: 20px 0 0;
  min-height: 20px;
  justify-content: space-between;
}

.cell {
  border: red 1px solid;
  display: flex;
  min-height: 10px;
  width: 250px;
  justify-content: flex-start;
  flex-direction: column;
}

.heading {
  border: red 1px solid;
  line-height: 1.15;
  font-size: 24px;
  font-family: 'Inter-SemiBold', Arial, sans-serif;
  font-weight: 700;
  margin: 0;
}
.text {
  border: red 1px solid;
  line-height: 1.2;
  font-size: 18px;
  font-family: 'Inter-Regular', Arial, sans-serif;
  font-weight: normal;
  margin: 20px 0 0;
}

p {
 margin: 0;
 }

.footer {
  border: red 1px solid;
  background-color: #1f1f1f;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}
